body {
   margin: 0;
   padding: 0;
 }

nav.navbar {
   margin: 0;
   padding: 0;
}

.breadcrumb {
   margin-top: 0;
   padding-top: 0;
}

.jumbotron {
   background-image: url('/images/Mountain.jpg');
   background-size: cover;
   color: white;
   padding: 10px 50px 120px 50px;
}

.orange {
   color: rgb(255, 168, 0);
   text-shadow: 1px 1px black
}

.pad {
   padding: 20px 0 20px 0;
}

.main {
   padding: 0 20px 20px 20px;
}
